
#BoardWrapper {
    overflow: auto;
    padding: 50px;
    text-align: center;
    background-image: url("/Images/ocean.jpg");
}

#BoardContainer {
    margin: auto;
    display: inline-block;
    background-color: seagreen;
}

.game-board-row {
    display: flex;
}

.game-board-tile {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position:relative;
}

    .game-board-tile:not(.Ocean) {
        cursor: pointer;
    }

.Unit.Active {
    animation: Blinking 1s infinite;
}

@keyframes Blinking {
    0% {
        opacity: 0.5; 
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.Ocean {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -500px;
}

.Ocean-top {
    background: url(/Images/TER257.PIC_256_resized.png) -200px -500px;
}

.Ocean-right {
    background: url(/Images/TER257.PIC_256_resized.png) -200px -500px;
    transform: rotate(90deg);
}

.Ocean-bottom {
    background: url(/Images/TER257.PIC_256_resized.png) -200px -500px;
    transform: rotate(180deg);
}

.Ocean-left {
    background: url(/Images/TER257.PIC_256_resized.png) -200px -500px;
    transform: rotate(-90deg);
}

.Ocean-single {
    background: url(/Images/TER257.PIC_256_resized.png) -250px -550px;
}

.Ocean-bay-top {
    background: url(/Images/TER257.PIC_256_resized.png) -700px -500px;
}

.Ocean-bay-right {
    background: url(/Images/TER257.PIC_256_resized.png) -650px -500px;
}

.Ocean-bay-bottom {
    background: url(/Images/TER257.PIC_256_resized.png) -550px -500px;
}

.Ocean-bay-left {
    background: url(/Images/TER257.PIC_256_resized.png) -350px -500px;
}

.Ocean-channel-horizontal {
    background: url(/Images/TER257.PIC_256_resized.png) -250px -500px;
}

.Ocean-channel-vertical {
    background: url(/Images/TER257.PIC_256_resized.png) -500px -500px;
}

.Ocean-elbow-top-right {
    background: url(/Images/TER257.PIC_256_resized.png) -600px -500px;
}

.Ocean-elbow-bottom-right {
    background: url(/Images/TER257.PIC_256_resized.png) -450px -500px;
}

.Ocean-elbow-bottom-left {
    background: url(/Images/TER257.PIC_256_resized.png) -150px -500px;
}

.Ocean-elbow-top-left {
    background: url(/Images/TER257.PIC_256_resized.png) -300px -500px;
}
.Arctic {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -350px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Desert {
    background: url(/Images/TER257.PIC_256_resized.png) 0px 0px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Forrest {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -150px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Grassland {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -100px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Hills {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Jungle {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountain {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Plains {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -50px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River {
    background: url(/Images/TER257.PIC_256_resized.png) -750px -550px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Swamp {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -400px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Tundra {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -300px, url(/Images/Layer2Sprite.png) 0px -200px;
}


.Unit{
    width: 100%;
    height: 100%;
    position:absolute;
}
.Unit img{
    border:2px solid;
    margin-top:2px;
    margin-left:2px;
}
.Malitia {
    width: 90%;
    height: 90%;
    object-position: -53px -507px;
    object-fit: none;
    border-radius:5px;
}

.Phalanx {
    width: 90%;
    height: 90%;
    object-position: -103px -507px;
    object-fit: none;
    border-radius: 5px;
}

.Legion {
    width: 90%;
    height: 90%;
    object-position: -153px -507px;
    object-fit: none;
    border-radius: 5px;
}

.Calvary {
    width: 90%;
    height: 90%;
    object-position: -303px -505px;
    object-fit: none;
    border-radius: 5px;
}

.Chariot {
    width: 90%;
    height: 90%;
    object-position: -502px -507px;
    object-fit: none;
    border-radius: 5px;
}


.Tile-improvement {
    width: 100%;
    height: 100%;
    position:absolute;
}

.City {
    width: 100%;
    height: 100%;
    object-position: -602px -352px;
    object-fit: none;
    border-radius: 5px;
    border:2px solid black !important;
}
.Factory {
    width: 100%;
    height: 100%;
    object-position: -150px -97px;
    object-fit: none;
}
.Farm {
    width: 100%;
    height: 100%;
    object-position: -200px -100px;
    object-fit: none;
}
.Fort {
    width: 100%;
    height: 100%;
    object-position: -702px -351px;
    object-fit: none;
}
.LumberMill {
    width: 100%;
    height: 100%;
    object-position: -753px -353px;
    object-fit: none;
}
.Mine {
    width: 100%;
    height: 100%;
    object-position: -250px -100px;
    object-fit: none;
}