
#BoardWrapper {
    overflow: auto;
    padding: 50px;
    text-align: center;
    background-image: url("/Images/ocean.jpg");
}

#BoardContainer {
    margin: auto;
    display: inline-block;
    background-color: seagreen;
}

.game-board-row {
    display: flex;
}

.game-board-tile {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position:relative;
}

    .game-board-tile:not(.Ocean) {
        cursor: pointer;
    }

.Unit.Active {
    animation: Blinking 1s infinite;
}

@keyframes Blinking {
    0% {
        opacity: 0.5; 
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.Ocean {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -500px;
}

.Ocean-top {
    background: url(/Images/TER257.PIC_256_resized.png) -200px -500px;
}

.Ocean-right {
    background: url(/Images/TER257.PIC_256_resized.png) -400px -500px;
}

.Ocean-bottom {
    background: url(/Images/TER257.PIC_256_resized.png) -50px -500px;
}

.Ocean-left {
    background: url(/Images/TER257.PIC_256_resized.png) -100px -500px;
}

.Ocean-single {
    background: url(/Images/TER257.PIC_256_resized.png) -250px -550px;
}

.Ocean-bay-top {
    background: url(/Images/TER257.PIC_256_resized.png) -700px -500px;
}

.Ocean-bay-right {
    background: url(/Images/TER257.PIC_256_resized.png) -650px -500px;
}

.Ocean-bay-bottom {
    background: url(/Images/TER257.PIC_256_resized.png) -550px -500px;
}

.Ocean-bay-left {
    background: url(/Images/TER257.PIC_256_resized.png) -350px -500px;
}

.Ocean-channel-horizontal {
    background: url(/Images/TER257.PIC_256_resized.png) -250px -500px;
}

.Ocean-channel-vertical {
    background: url(/Images/TER257.PIC_256_resized.png) -500px -500px;
}

.Ocean-elbow-top-right {
    background: url(/Images/TER257.PIC_256_resized.png) -600px -500px;
}

.Ocean-elbow-bottom-right {
    background: url(/Images/TER257.PIC_256_resized.png) -450px -500px;
}

.Ocean-elbow-bottom-left {
    background: url(/Images/TER257.PIC_256_resized.png) -150px -500px;
}

.Ocean-elbow-top-left {
    background: url(/Images/TER257.PIC_256_resized.png) -300px -500px;
}
.Arctic {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -350px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Desert {
    background: url(/Images/TER257.PIC_256_resized.png) 0px 0px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Forest {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -150px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Grassland {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -100px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Hills {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Plains {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -50px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Swamp {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -400px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Tundra {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -300px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-cross {
    background: url(/Images/TER257.PIC_256_resized.png) -750px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-straight-vertical {
    background: url(/Images/TER257.PIC_256_resized.png) -250px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-straight-horizontal {
    background: url(/Images/TER257.PIC_256_resized.png) -500px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-bend-north-east {
    background: url(/Images/TER257.PIC_256_resized.png) -150px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-bend-south-east {
    background: url(/Images/TER257.PIC_256_resized.png) -300px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-bend-south-west {
    background: url(/Images/TER257.PIC_256_resized.png) -600px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-bend-north-west {
    background: url(/Images/TER257.PIC_256_resized.png) -450px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-tee-north {
    background: url(/Images/TER257.PIC_256_resized.png) -550px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-tee-east {
    background: url(/Images/TER257.PIC_256_resized.png) -350px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-tee-south {
    background: url(/Images/TER257.PIC_256_resized.png) -700px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-tee-west {
    background: url(/Images/TER257.PIC_256_resized.png) -650px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-start-north {
    background: url(/Images/TER257.PIC_256_resized.png) -200px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-start-east {
    background: url(/Images/TER257.PIC_256_resized.png) -400px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-start-south {
    background: url(/Images/TER257.PIC_256_resized.png) -50px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Mountains-start-west {
    background: url(/Images/TER257.PIC_256_resized.png) -100px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River {
    background: url(/Images/Layer2Sprite.png) -0px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-cross {
    background: url(/Images/Layer2Sprite.png) -750px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-straight-horizontal {
    background: url(/Images/Layer2Sprite.png) -500px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-straight-vertical {
    background: url(/Images/Layer2Sprite.png) -250px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-bend-south-east {
    background: url(/Images/Layer2Sprite.png) -300px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-bend-south-west {
    background: url(/Images/Layer2Sprite.png) -600px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-bend-north-west {
    background: url(/Images/Layer2Sprite.png) -450px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-bend-north-east {
    background: url(/Images/Layer2Sprite.png) -150px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-tee-north {
    background: url(/Images/Layer2Sprite.png) -550px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-tee-east {
    background: url(/Images/Layer2Sprite.png) -350px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-tee-south {
    background: url(/Images/Layer2Sprite.png) -700px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-tee-west {
    background: url(/Images/Layer2Sprite.png) -650px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-start-north {
    background: url(/Images/Layer2Sprite.png) -200px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-start-east {
    background: url(/Images/Layer2Sprite.png) -400px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-start-south {
    background: url(/Images/Layer2Sprite.png) -50px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.River-start-west {
    background: url(/Images/Layer2Sprite.png) -100px -250px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Hills {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Hills-cross {
    background: url(/Images/TER257.PIC_256_resized.png) -750px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-straight-vertical {
    background: url(/Images/TER257.PIC_256_resized.png) -250px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-straight-horizontal {
    background: url(/Images/TER257.PIC_256_resized.png) -500px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-bend-north-east {
    background: url(/Images/TER257.PIC_256_resized.png) -150px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-bend-south-east {
    background: url(/Images/TER257.PIC_256_resized.png) -300px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-bend-south-west {
    background: url(/Images/TER257.PIC_256_resized.png) -600px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-bend-north-west {
    background: url(/Images/TER257.PIC_256_resized.png) -450px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-tee-north {
    background: url(/Images/TER257.PIC_256_resized.png) -550px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-tee-east {
    background: url(/Images/TER257.PIC_256_resized.png) -350px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-tee-south {
    background: url(/Images/TER257.PIC_256_resized.png) -700px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-tee-west {
    background: url(/Images/TER257.PIC_256_resized.png) -650px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-start-north {
    background: url(/Images/TER257.PIC_256_resized.png) -200px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-start-east {
    background: url(/Images/TER257.PIC_256_resized.png) -400px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-start-south {
    background: url(/Images/TER257.PIC_256_resized.png) -50px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Hills-start-west {
    background: url(/Images/TER257.PIC_256_resized.png) -100px -200px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Jungle {
    background: url(/Images/TER257.PIC_256_resized.png) 0px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Jungle-cross {
    background: url(/Images/TER257.PIC_256_resized.png) -750px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-straight-vertical {
    background: url(/Images/TER257.PIC_256_resized.png) -250px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-straight-horizontal {
    background: url(/Images/TER257.PIC_256_resized.png) -500px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-bend-north-east {
    background: url(/Images/TER257.PIC_256_resized.png) -150px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-bend-south-east {
    background: url(/Images/TER257.PIC_256_resized.png) -300px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-bend-south-west {
    background: url(/Images/TER257.PIC_256_resized.png) -600px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-bend-north-west {
    background: url(/Images/TER257.PIC_256_resized.png) -450px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-tee-north {
    background: url(/Images/TER257.PIC_256_resized.png) -550px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-tee-east {
    background: url(/Images/TER257.PIC_256_resized.png) -350px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-tee-south {
    background: url(/Images/TER257.PIC_256_resized.png) -700px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-tee-west {
    background: url(/Images/TER257.PIC_256_resized.png) -650px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-start-north {
    background: url(/Images/TER257.PIC_256_resized.png) -200px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-start-east {
    background: url(/Images/TER257.PIC_256_resized.png) -400px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-start-south {
    background: url(/Images/TER257.PIC_256_resized.png) -50px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}

.Jungle-start-west {
    background: url(/Images/TER257.PIC_256_resized.png) -100px -450px, url(/Images/Layer2Sprite.png) 0px -200px;
}
.Unit {
    width: 100%;
    height: 100%;
    position: absolute;
}
.Unit img{
    border:2px solid;
    margin-top:2px;
    margin-left:2px;
}
.Settler {
    width: 90%;
    height: 90%;
    object-position: -4px -510px;
    object-fit: none;
    border-radius: 5px;
}
.Malitia {
    width: 90%;
    height: 90%;
    object-position: -53px -507px;
    object-fit: none;
    border-radius:5px;
}

.Phalanx {
    width: 90%;
    height: 90%;
    object-position: -103px -507px;
    object-fit: none;
    border-radius: 5px;
}

.Legion {
    width: 90%;
    height: 90%;
    object-position: -153px -507px;
    object-fit: none;
    border-radius: 5px;
}

.Calvary {
    width: 90%;
    height: 90%;
    object-position: -303px -505px;
    object-fit: none;
    border-radius: 5px;
}

.Chariot {
    width: 90%;
    height: 90%;
    object-position: -502px -507px;
    object-fit: none;
    border-radius: 5px;
}


.Tile-improvement {
    width: 100%;
    height: 100%;
    position:absolute;
}

.City {
    width: 100%;
    height: 100%;
    object-position: -602px -352px;
    object-fit: none;
    border-radius: 5px;
    border:2px solid black !important;
}
.Factory {
    width: 100%;
    height: 100%;
    object-position: -150px -97px;
    object-fit: none;
}
.Farm {
    width: 100%;
    height: 100%;
    object-position: -200px -100px;
    object-fit: none;
}
.Fort {
    width: 100%;
    height: 100%;
    object-position: -702px -351px;
    object-fit: none;
}
.LumberMill {
    width: 100%;
    height: 100%;
    object-position: -753px -353px;
    object-fit: none;
}
.Mine {
    width: 100%;
    height: 100%;
    object-position: -250px -100px;
    object-fit: none;
}

.Tile-special{
    width: 100%;
    height: 100%;
    position:absolute;
}
.Oasis {
    width: 100%;
    height: 100%;
    object-position: -0px -349px;
    object-fit: none;
}
.Horse {
    width: 100%;
    height: 100%;
    object-position: -50px -349px;
    object-fit: none;
}
.Rabbit {
    width: 100%;
    height: 100%;
    object-position: -150px -349px;
    object-fit: none;
}
.Coal {
    width: 100%;
    height: 100%;
    object-position: -200px -349px;
    object-fit: none;
}
.Gold {
    width: 100%;
    height: 100%;
    object-position: -250px -349px;
    object-fit: none;
}
.Deer {
    width: 100%;
    height: 100%;
    object-position: -300px -349px;
    object-fit: none;
}
.Seal {
    width: 100%;
    height: 100%;
    object-position: -350px -349px;
    object-fit: none;
}
.Oil {
    width: 100%;
    height: 100%;
    object-position: -400px -349px;
    object-fit: none;
}
.Gem {
    width: 100%;
    height: 100%;
    object-position: -450px -349px;
    object-fit: none;
}
.Fish {
    width: 100%;
    height: 100%;
    object-position: -500px -349px;
    object-fit: none;
}
.Shield {
    top: 50%;
    position: relative;
    width: 25%;
    height: 25%;
    object-position: -482px -135px;
    object-fit: none;
}