@page "/about"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager NavManager

<h1>About</h1>


<section>
    <h2>Inspiration</h2>
    <p>
        I played the Civilization game from the 90's a lot growing up. I wanted to learn Blazor Server so I thought why not use it as a chance to learn and doing something crazy and fun.
    </p>
</section>
@code {

}
