@page "/Map/{gameBoardId}"
@using territory_lords.Data.Cache;
@using Microsoft.AspNetCore.WebUtilities;
@using territory_lords.Data.Models;
@inject NavigationManager NavManager
@inject GameBoardCache BoardCache
@attribute [Authorize]

<h1>Div layout of gameboard</h1>
<NavLink class="nav-link" href="@GetRandomGameBoardIdURL()">
    <span class="oi " aria-hidden="true"></span> New Map
</NavLink>
<GameBoardDisplay gameBoard="gameBoard" />

@code {
    [Parameter]
    public string gameBoardId { get; set; }


    GameBoard gameBoard;

    protected override void OnParametersSet()
    {
        gameBoard = BoardCache.GetGameBoard(gameBoardId);

        if(gameBoard == null)
        {
            gameBoard = new GameBoard(gameBoardId);
            BoardCache.UpdateGameCache(gameBoard);
        }

    }

    private string GetRandomGameBoardIdURL()
    {
        return $"Map/{GetRandomNumberBetween(1, 11)}";
    }

    /// <summary>
    /// Gets a random number between two digits
    /// </summary>
    /// <param name="begin"></param>
    /// <param name="end"></param>
    /// <returns></returns>
    private int GetRandomNumberBetween(int begin, int end)
    {
        var rnd = new Random();
        return rnd.Next(begin, end);
    }
}
