
@using territory_lords.Data.Cache;
@using Microsoft.AspNetCore.SignalR.Client
@*inject NavigationManager NavigationManager
@*inject GameBoardCache BoardCache
@*I don't love that we have to inject this here too. This component should pass along to it's parent or a game manager object*@
<div id="BoardWrapper">
    <div id="BoardContainer">
        @for (int r = 0; r < gameBoard.RowCount; r++)
        {
            <div class="game-board-row">
                @for (int c = 0; c < gameBoard.ColumnCount; c++)
                {
                    GameTile gameTile = gameBoard.Board[r, c];
                    var shadowColor = "";
                    if (gameTile.Color.Length > 0)
                    {
                        shadowColor = $"box-shadow: inset 0 0 5px 2px {gameTile.Color};";
                    }
                    <div class="game-board-tile @GetCorrectBackgroundCSSClass(gameTile)" style="@shadowColor" @onclick="() => HandleGameBoardSquareClick(gameTile)">
                        @if(gameTile.Unit != null)
                        {
                        <div class="Unit @(gameTile.Unit.GetType().Name) @(gameTile.Unit.Active ? "Active" : "")"></div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>






