
<div id="unitOrderMenu" style="background-color:white; width:200px;position:fixed;z-index:1300;top:0;right:0;">
    <MudList Clickable="true">
        @foreach (var item in OrderOptions)
        {
            <MudListItem Icon="@item.Icon" OnClick="@(() => OrderMenuClickHandler(item.OrderType))">@item.Name</MudListItem>
        }
    </MudList>
</div>




@code {

    [Parameter]
    public List<UnitOrder> OrderOptions { get; set; }

    [Parameter]
    public EventCallback<OrderType> ParentMethod { get; set; }

    private void OrderMenuClickHandler(OrderType orderType)
    {
        ParentMethod.InvokeAsync(orderType);
    }
}
